body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h2 {
	text-align: center;
	font-family: 'Lobster', cursive;
}

.bar {
	width: 100%;
    background-color: #333;
	height: 42px;
	margin: 0;
	display: flex;
	position: fixed;
}

.inner-bar {
	min-width: 330px;
	width: 50%;
	margin: auto;
	display: flex;
}

.logo-bar {
	justify-content: flex-start;
	flex: 1 1 auto;
	display: flex;
}

.icones-bar {
	justify-content: flex-end;
	flex: 3 1 auto;
	display: flex;
}

.navbar-brand {
	color: white;
	flex: 1 1 auto;
	height: 32px;
	margin-top: 10px;
	text-align: center;
	font-size: 20px;
	font-family: 'Lobster', cursive;
}

.navbar-brand:hover {
	border-bottom: 3px solid #df4723;
}

.img-bar {
	height: 20px;
}

.nav-list .navbar-brand .img-bar {
	position: absolute;
    margin-top: -30px;
    margin-left: -10px;
}

.nav-list { 
	display: none;
	padding-top: 40px;
	background-color: #333;
}

.nav-list:hover {
	box-shadow: inset 0 -3px 0 #df4723;
}

#cam:hover .nav-list {
	display: inherit;
}

.starter-template {
    padding-top: 50px;
    margin: auto;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}