a
{
	text-decoration: none;
}

.com_container {
	text-align: left;
}

img.images {
	height: 200px;
}

img.cross {
	width: 20px;
	height: 20px;
	margin-top: 4px;
	margin-left: -25px;
	position: absolute;
	display: none;
	cursor: pointer;
	z-index: 2000;
}

div.div_image {
	height: 200px;
	width: 300px;
	display: inline-block;
	margin: 5px;
}

div.img-thumbnail {
	margin-bottom: 20px;
	width: 510px;
}

p.comment {
	word-wrap: break-word;
}

img.filters {
	height: 50px;
}

div#filters {
	width: 610px;
	height: 74px;
	overflow: overlay;
	margin: 15px auto;
}

div.div_filters {
	display: inline-block;
}

#gallery_container {
	text-align: center;
	margin: auto;
}

.img-thumbnail {
    border: 1px solid #909090;
    padding: 12px 10px 10px 10px;
    border-radius: 2%;
    margin: auto;
}

#side_container {
	display: inline-block;
	width: 100%;
	max-width: 860px;
}

img.img_preview {
	width: 30%;
    justify-content: space-between;
}